{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<div class="container text-center">
    <h1>Browser DSA stat manager</h1>
    <div
        class="tenor-gif-embed"
        data-postid="21065154"
        data-share-method="host"
        data-aspect-ratio="2.01258"
        data-width="100%"
    ></div>
    <script
        type="text/javascript"
        async
        src="https://tenor.com/embed.js"
    ></script>
    <p>I have absolutely no idea what you're looking for</p>
</div>
<br />
{% endblock %}
